body{
    background : url("../images/boxing_ring.webp") center no-repeat ;
    background-size: cover;

    width: 100%;
    height: 100%;

    font-family: 'Gulzar' sans-serif;
    text-align: center;
}

.container {
    background-color: #a2a9ab;
    width: 500px;
    max-width: 800px;

    height: 300px;
    max-height: 600px;

    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    
    
}

.controls > .btn {
    font-size: 20px;
    border-color: #a2a9ab;
    border-radius: 10px;
    padding: 5px;
}
.btn.correct{
    color: white;
}

.btn.wrong {
    color:blue;
}
.hide {
    display:none;
}


